.gridQRCodes {
	list-style: none;
	padding: 0;
}

.gridQRCode {
	display: none;
	max-width: 100%;
	padding: 0.2em;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.gridQRCode.show {
	display: inline-block;
}

.gridQRCode > * {
	width: 100%;
	height: auto;
}

.gridQRCode > img[src*="svg"],
.gridQRCode > svg {
	min-width: 100px;
}

.contentQRCode {
	color: #aaa;
	font-size: 0.875rem;
	line-height: 1.5;
	white-space: pre;
}

.contentQRCode > a {
	color: inherit;
	text-decoration: none;
	word-break: break-all;
}

.contentQRCode > a:hover {
	text-decoration: underline;
}
